@charset "UTF-8";
/* CSS Document */

/*@font-face {
    font-family: 	'MyriadProBoldCondensed';
    src: 			url('http://www.ulsinc.com/fonts/myriadpro-boldcond-webfont.eot');
    src: 			url('http://www.ulsinc.com/fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         			url('http://www.ulsinc.com/fonts/myriadpro-boldcond-webfont.woff') format('woff'),
         			url('http://www.ulsinc.com/fonts/myriadpro-boldcond-webfont.ttf') format('truetype'),
         			url('http://www.ulsinc.com/fonts/myriadpro-boldcond-webfont.svg#MyriadProBoldCondensed') format('svg');
    font-weight: 	normal;
    font-style: 	normal;

}

@font-face {
    font-family: 	'HelveticaLight';
    src: 			url('http://www.ulsinc.com/fonts/helveticalight-webfont.eot');
    src: 			url('http://www.ulsinc.com/fonts/helveticalight-webfont.eot?#iefix') format('embedded-opentype'),
         			url('http://www.ulsinc.com/fonts/helveticalight-webfont.woff') format('woff'),
         			url('http://www.ulsinc.com/fonts/helveticalight-webfont.ttf') format('truetype'),
         			url('http://www.ulsinc.com/fonts/helveticalight-webfont.svg#HelveticaLight') format('svg');
    font-weight: 	normal;
    font-style: 	normal;

}*/

/** { margin: 0; padding: 0; }
body {margin:0px; background-color:#000;}*/

#cpicon {/*background-color:#000;*/font-family: 'MyriadProBoldCondensed', Helvetica, sans-serif;}

#cpicon h1, #cpicon h2, #cpicon h3, #cpicon h4 {font-family: 'MyriadProBoldCondensed', Helvetica, sans-serif;}

#cpicon h2{text-shadow: 0 -1px 3px rgba(50,50,50, 1); /**/}
#cpicon h3, #cpicon h4, #cpicon h5 {text-shadow: 0 -1px 1px rgba(50,50,50, .5);}

#cpicon a {
	color:					#b00000;
	text-decoration: 		none;
	-ms-transition: 		color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition: 	color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: 		color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: 			color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: 			color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#cpicon a:hover {text-decoration:none; color:#fff;}

.clearall {clear:both;}

#cpicon, .pp_inline {
	margin: 0px !important;
	padding: 0px !important;
	float: none !important;
	width:100%;
	font-family: Helvetica, sans-serif;

}


#icon {
	/*border:1px solid #ccc;*/
	height:480px; min-width:800px; margin:0 auto; overflow:hidden;
}

#icon #title {width:100%; background-color:#000; padding:10px 15px; color:#fff; font-family: Helvetica, sans-serif; overflow:hidden;}

#icon #title h3 {font-size:12px; margin:0px;}
#icon #title h3 span {position:absolute; left:-999px;}

#icon #logo {
	-ms-box-shadow: 		inset 0 0 5px #333;
	-webkit-box-shadow: 	inset 0 0 5px #333;
	-moz-box-shadow: 		inset 0 0 5px #333;
	-o-box-shadow: 			inset 0 0 5px #333;
	box-shadow: 			inner 0 0 5px #333;
	
	background-color:#fff; 
	height:60px;

}

#icon #logo img {margin:5px 10px; width:250px;}

#icon #logo a:hover img{opacity:0.5; filter:alpha(opacity=50); }

#icon #content {
	
	background: 	#b00000; /* old browsers */
	background: 	-moz-linear-gradient(top, #b00000 0%, #500000 100%); /* firefox */
	background: 	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b00000), color-stop(100%,#500000)); /* webkit */
	background: 	-o-linear-gradient(top, #b00000 0%, #500000 100%); /* opera */
	filter: 		progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00000', endColorstr='#500000',GradientType=0 ); /* ie */
	
	height:375px; 
	width:100%;
	
}

#icon #content #image {background-image:url(http://www.ulsinc.com/channel-partners/images/lrg-icon-back.png); background-repeat:no-repeat; height:375px;}

#icon #content #image #main {float:left; width:510px; }

#icon #content h2 {text-transform:uppercase; font-weight:bold; margin:25px 15px;}

#icon #content h2 #message1 {color:#ccc; font-size:18px;}
#icon #content h2 #message2 {color:#fff; font-size:26px; margin:0 0 0 0;}
#icon #content h2 #message3 {color:#ccc; font-size:74px; margin:0 0 0 0;}
#icon #content h2 #message4 {color:#fff; font-size:36px; margin:0 0 0 0;}

#icon #content h2 #message1 a {color:#ccc;}
#icon #content h2 #message1 a:hover {color:#fff;}

#icon #content #learnmore a, .pp_inline #details #learnmore a {
	display: 		block;
	padding:		15px 15px;
	width:			180px;
	margin:			0px 15px;
	
	color:			#000;
	text-align:		left;
	font-size:		22px;
	font-weight: 	bold;
	
	/*font-family: 'MyriadProBoldCondensed', Tahoma, Geneva, sans-serif;*/
	text-transform:uppercase;
	text-shadow: 	0 -1px 1px rgba(0,0,0, .8);
	
	-ms-border-radius: 		.5em .5em .5em .5em;
	-moz-border-radius: 	.5em .5em .5em .5em;
	-webkit-border-radius: 	.5em .5em .5em .5em;
	-o-border-radius: 		.5em .5em .5em .5em;
	border-radius: 			.5em .5em .5em .5em;
	
	-ms-box-shadow: 		0 0 5px rgba(0,0,0, .7);
	-webkit-box-shadow: 	0 0 5px rgba(0,0,0, .7);
	-moz-box-shadow: 		0 0 5px rgba(0,0,0, .7);
	-o-box-shadow: 			0 0 5px rgba(0,0,0, .7);
	box-shadow: 			0 0 5px rgba(0,0,0, .7);
		
	background: 	#ffffff; /* old browsers */
	background: 	-moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%); /* firefox */
	background: 	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* webkit */
	background: 	-o-linear-gradient(top, #eeeeee 0%, #ffffff 100%); /* opera */
	filter: 		progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* ie */
	
}

#icon #content #learnmore a:hover, .pp_inline #details #learnmore a:hover {
	text-decoration:none; color:#fff; cursor:pointer;
	
	background: 	#000000; /* old browsers */
	background: 	-moz-linear-gradient(top, #666666 0%, #000000 100%); /* firefox */
	background: 	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#000000)); /* webkit */
	background: 	-o-linear-gradient(top, #666666 0%, #000000 100%); /* opera */
	filter: 		progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* ie */

}

#icon #main p {font-size:12px; line-height:18px; margin:20px 15px; color:#ccc;}
#icon #main p a {color:#fff; font-weight:bold;}
#icon #main p a:hover {color:#000;}

#icon #right  {
		
	-ms-box-shadow: 		inset 0 0 15px #000;
	-webkit-box-shadow: 	inset 0 0 15px #000;
	-moz-box-shadow: 		inset 0 0 15px #000;
	-o-box-shadow: 			inset 0 0 15px #000;
	box-shadow: 			inner 0 0 15px #000;
	
	float:right; 
	width:275px;
		
}

#icon #right #buttons a {
	display:block;
	
	text-shadow: 0 -1px 1px rgba(200,200,200, .5);
	border-left:5px solid #000;

	height: 74px;
	cursor: pointer;
	
	margin:1px;
	width:100%;
	color:#fff;
	
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
}

#icon #right #buttons a:hover {
	color:#000;
	
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}

#icon #right #buttons #image {
	float: left;
	margin:20px 0 10px 10px;
	
	height: 40px;
	width: 50px;
	
	-ms-border-radius: 		.5em .5em .5em .5em;
	-moz-border-radius: 	.5em .5em .5em .5em;
	-webkit-border-radius: 	.5em .5em .5em .5em;
	-o-border-radius: 		.5em .5em .5em .5em;
	border-radius: 			.5em .5em .5em .5em;
	
	-ms-box-shadow: 		0 0 5px rgba(255,255,255, .7);
	-webkit-box-shadow: 	0 0 5px rgba(255,255,255, .7);
	-moz-box-shadow: 		0 0 5px rgba(255,255,255, .7);
	-o-box-shadow: 			0 0 5px rgba(255,255,255, .7);
	box-shadow: 			0 0 5px rgba(255,255,255, .7);
	
	overflow: hidden;
	
}

#icon #right #buttons #image img { height:50px; margin:-5px 0 0 -10px; }

#icon #right #buttons div {float:left; margin:30px 0 0 10px; font-size:14px; font-family: 	'HelveticaLight', Helvetica, sans-serif;}

 div.light_square .pp_left ,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content{background:none;}
 .light_square img {border:4px solid #fff;}
 div.light_square .pp_content .ppt{color:#fff;}
 div.light_square .pp_expand{background: url(http://www.ulsinc.com/imgs/sprite.png) -31px -26px no-repeat;cursor: pointer;}
 div.light_square .pp_expand:hover{background: url(http://www.ulsinc.com/imgs/sprite.png) -31px -47px no-repeat;cursor: pointer;}
 div.light_square .pp_contract{background: url(http://www.ulsinc.com/imgs/sprite.png) 0 -26px no-repeat;cursor: pointer;}
 div.light_square .pp_contract:hover{background: url(http://www.ulsinc.com/imgs/sprite.png) 0 -47px no-repeat;cursor: pointer;}
 div.light_square #pp_full_res .pp_inline{color:#fff;}
 
 div.pp_pic_holder a:focus{outline:none;}
 div.light_square .pp_close{width:40px;height:40px;background: url(http://www.ulsinc.com/imgs/close.png) -0px -0px no-repeat;cursor: pointer; display:block;}
 div.pp_overlay{background:#000;display: none;left:0;position:absolute;top:0;width:100%;z-index:9500;}
 div.pp_pic_holder{display: none;position:absolute;width:100px;z-index:10000;}
 
 .pp_top{height:20px;position: relative;}* html .pp_top{padding:0 20px;}
 .pp_top .pp_left{height:20px;left:0;position:absolute;width:20px;}
 .pp_top .pp_middle{height:20px;left:20px;position:absolute;right:20px;}
 * html .pp_top .pp_middle{left:0;position: static;}
 .pp_top .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}
 .pp_content{height:40px;}
 .pp_content .ppt{left:auto;margin-bottom:5px;position: relative;top:auto;}
 .pp_fade{display: none;}
 .pp_content_container{position: relative;text-align: left;width:100%;}
 .pp_content_container .pp_left{padding-left:20px;}
 .pp_content_container .pp_right{padding-right:20px;}
 .pp_content_container .pp_details{margin:10px 0 2px 0;}
 
 .pp_description{display: none;margin:0 0 0px 20px; color:#fff; font-size:12px; text-align:center; }
  
 .pp_nav{clear: left;float: left;margin:3px 0 0 0;}
 .pp_nav p{float: left;margin:2px 4px;}

  a.pp_expand,a.pp_contract{cursor: pointer;display: none;height:20px;position:absolute;right:30px;text-indent: -10000px;top:10px;width:20px;z-index:20000;}
  a.pp_close{display:block;float: right;text-indent: -10000px; height:30px; width:30px; margin-top:-15px; margin-right:-35px; }
  .pp_bottom{height:24px;position: relative;}
  * html .pp_bottom{padding:0 20px;}.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px;}
  .pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px;}
  * html .pp_bottom .pp_middle{left:0;position: static;}
  .pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}
  .pp_loaderIcon{display:block;height:24px;left:50%;margin: -12px 0 0 -12px;position:absolute;top:50%;width:24px;}
  #pp_full_res{line-height:1 !important;}
  #pp_full_res .pp_inline{text-align: left;}
  #pp_full_res .pp_inline p{margin:0 0 15px 0;}
 
  div.ppt{color:#fff;display: none;font-size:12px;/*left:0;position:absolute;top:0;*/z-index:1000; text-align:center; }
 
 .clearfix:after{content: ".";display:block;height:0;clear:both;visibility: hidden;}
 .clearfix {display: inline-block;}
 * html .clearfix {height:100%;}.clearfix {display:block;}
 

#icon #bottom {background-color:#000; color:#fff; height:20px;}




.pp_inline {

	-ms-border-radius: 		1em 1em 1em 1em;
	-moz-border-radius: 	1em 1em 1em 1em;
	-webkit-border-radius: 	1em 1em 1em 1em;
	-o-border-radius: 		1em 1em 1em 1em;
	border-radius: 			1em 1em 1em 1em;
		
	background: 	#ffffff; /* old browsers */
	background: 	-moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%); /* firefox */
	background: 	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* webkit */
	background: 	-o-linear-gradient(top, #eeeeee 0%, #ffffff 100%); /* opera */
	filter: 		progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* ie */
	
	background-color:#fff;

}

.pp_inline #details {
	padding:20px; 
	font-size:12px; 
	line-height:16px; 
	color:#666;
}

.pp_inline #details h1, .pp_inline #details h2, .pp_inline #details h3 {font-weight:normal; color:#333; text-shadow: 0 -1px 1px rgba(50,50,50, .5); margin:0px;}

.pp_inline #details h2 {font-size:24px; margin:5px 0px;}

.pp_inline #details #image {
	
	width:360px;
	height:180px;
	margin:10px 0px;
	
	-ms-border-radius: 		1em 1em 1em 1em;
	-moz-border-radius: 	1em 1em 1em 1em;
	-webkit-border-radius: 	1em 1em 1em 1em;
	-o-border-radius: 		1em 1em 1em 1em;
	border-radius: 			1em 1em 1em 1em;
	
	-ms-box-shadow: 		0 0 5px rgba(0,0,0, .7);
	-webkit-box-shadow: 	0 0 5px rgba(0,0,0, .7);
	-moz-box-shadow: 		0 0 5px rgba(0,0,0, .7);
	-o-box-shadow: 			0 0 5px rgba(0,0,0, .7);
	box-shadow: 			0 0 5px rgba(0,0,0, .7);
	
	overflow: hidden;

	
}

.pp_inline #details #image img {width:380px; margin:-30px 0 0 -10px;}

.pp_inline #details a:hover {color:#000;}

.pp_inline #details #left {padding:10px; float:left; border-right:1px dotted #ccc; width:380px; }
.pp_inline #details #right {padding:10px; float:right; width:330px;}

.pp_inline #details #right #uu a{display:block; padding:5px;}

.pp_inline #details #learnmore a {
	font-size:14px; 
	color:#fff;
	width:290px;
	margin:10px 0px;
	
	background: 	#b00000; /* old browsers */
	background: 	-moz-linear-gradient(top, #500000 0%, #b00000 100%); /* firefox */
	background: 	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#500000), color-stop(100%,#b00000)); /* webkit */
	background: 	-o-linear-gradient(top, #500000 0%, #b00000 100%); /* opera */
	filter: 		progid:DXImageTransform.Microsoft.gradient( startColorstr='#500000', endColorstr='#b00000',GradientType=0 ); /* ie */


}

	
	#ULS_channel_partner_icon #icon {height:350px; min-width:520px; border-bottom:5px solid #000;}
	#ULS_channel_partner_icon #icon #content #image {background-position:-200 -80;}
	#ULS_channel_partner_icon #icon #content #image #main {width:350px; }
	#ULS_channel_partner_icon #icon #content h2 #message1 {font-size:12px;}
	#ULS_channel_partner_icon #icon #content h2 #message2 {font-size:20px;}
	#ULS_channel_partner_icon #icon #content h2 #message3 {font-size:60px;}
	#ULS_channel_partner_icon #icon #content h2 #message4 {font-size:30px;}
	#ULS_channel_partner_icon #icon #content #learnmore a, #ULS_channel_partner_icon .pp_inline #details #learnmore a {margin-top:-10px;}
	
	#ULS_channel_partner_icon #icon #right  {width:170px;}

#ULS_channel_partner_icon #icon #right #buttons a {height: 51px;}

#ULS_channel_partner_icon #icon #right #buttons #image {margin:12px 0 8px 8px; height: 25px; width: 35px;}

#ULS_channel_partner_icon #icon #right #buttons #image img { height:30px; margin:-5px 0 0 -10px; }

#ULS_channel_partner_icon #icon #right #buttons div {margin:18px 0 0 10px; font-size:11px; width:100px;}
	

