
.configback {height:65px;}
.configback2 {height:65px;}


.acc-back, .acc-back2 {min-height:65px;}

.configback-select {height:40px;}
.configback-select a{height:40px;}

.configback-select2 {height:40px;}
.configback-select2 a{height:40px;}

#backbutton {height:35px;}

#maintitle {margin-top:-30px;}

#btm {margin-top:90px;}