#page-wrap-mobile { width: 320px; padding: 0 0 0 0px; margin: 0 auto; overflow: hidden; height: 100%; }

#toplinks-mobile {padding:2px 3px; font-size:9px;}
#toplinks-mobile ul {list-style:none;}
#toplinks-mobile li{float:right;  padding:0px 8px; border-right:1px solid #ccc;}
#toplinks-mobile a{display:block; color:#666; font-weight:bold;}
#toplinks-mobile a:hover{color:#333;}

.arrowlistmenu{
width: 320px; /*width of accordion menu*/
}
#main-title {
color: #fff;
background: #900000 url(../images/mobile/images/titlebar.png) repeat-x center left;
margin-bottom: 0px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 6px 0 6px 10px; /*header text is indented 10px*/
font-size:14px;
font-weight:bold;
}
.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
color: #fff;
background: #900000 url(../images/mobile/images/titlebar-active.png) repeat-x center left;
margin-bottom: 0px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 6px 0 6px 10px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background-image: url(../images/mobile/images/titlebar.png);
color:#ccc;
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color: #900000;
background: url(../images/mobile/images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 5px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size: 90%;
}

.arrowlistmenu ul li a:visited{
color: #900000;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #900000;
background-color: #e5e5e5;
}

#btm-mobile {width:320px; margin:0 auto; position:relative; text-align:left; color:#fff;}
#btm-mobile a{color:#900000; font-weight:bold;}
#btm-mobile a:hover {color:#fff;}

#copyright-mobile {color:#666; font-size:10px; padding-left:5px;}
#copyright-mobile a{color:#666; font-size:10px; font-weight:normal;}
#copyright-mobile a:hover{color:#900000;}

#btmlinks-mobile {padding:5px; width:300px;}
#btmlinks-mobile li{float:left; padding:0px 10px; border-right:1px solid #ccc;}

#ulslogo-mobile { padding-top:10px; }