<table class="table set-padding table-min-1200" ng-init="size()" show-filter="isSearch"  ng-table="tableParams">
	<tbody class="tbody-animate">
		<tr class="parent-active" ng-repeat="item in $data">
			<td data-title="'ID'" filter="{ 'id': 'text' }" sortable="'id'">{{item.id}}</td>
			<td data-title="'Title'" filter="{ 'accessory_title': 'text' }" sortable="'accessory_title'">{{item.name}}</td>
			<td class="show-action text-left parent-td9" data-title="'Action'">
		        <div class="wrap-ac-group">
		            <i class="fa fa-ellipsis-v"></i>
		            <a href="javascript:void(0)" ng-click="showGroup($event)" class="ac-group btn"></a>
					<ul class="group-btn-ac fix-missing-li">
						<a href="/cms/database-manager/edit-laser/{{item.id}}" class="text-show-action" target="_self">
							<li> Edit</li>
						</a>
						<a ng-click="deleteCategoryAndMaterial(item.id)" class="text-show-action" target="_self">
							<li> Delete</li >
						</a>
					</ul>
		        </div>
		    </td>
		</tr>
	</tbody>
</table>