.dropzone .dz-default.dz-message{
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    transition: opacity .3s ease-in-out;
    background-image: url(../images/spritemap.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 428px;
    height: 115px;
    /*margin-left: -214px;*/
    margin-top: -61.5px;
    top: 50%;
    left: 50%;
    background-size: 380px!important;
}
@media screen and (max-width: 499px){
  .content-file-right,.list-up-file{
    overflow: hidden!important;
  }
}
@media screen and (max-width: 499px){
  .dropzone .dz-default.dz-message{
     background-image: url(../images/upload-425.png)!important;
     height: 209px!important  ;
     top:30%;
     left: 50%;
  }
  .content-file-right{
    overflow: hidden;
  }
}
@media screen and (max-width: 430px){
  .dropzone .dz-default.dz-message{
    left: 30%;
  }
}

