<div class="modal-body" id="modal-open">
  <div class="relative">
    <img class="close-image pointer" ng-click="cancel()" data-dismiss="modal" aria-label="Close" src="/images/icon-times.png" class="mfp-close">
    <div class="wrap-box-content-modal">

        <div class="main-box">
            <p class="title-alert-center">Are you sure you want to remove {{name}} from your list of materials?</p>
            <div class="text-center">
              <button class="btn btn-blue btn-large" ng-click="confirm()">Yes </button>
              <button class="btn btn-blue btn-large" ng-click="cancel()">No </button>
            </div>
            
        </div>
    </div>
  </div>
</div>


 
   