// index -------------- table -------------
.types .table > thead > tr > th:nth-of-type(3){
	padding-left:80px;
}
// end

.form-horizontal .form-group.fix-margin{
 	margin-left:0px;
 	margin-right:0px;
}