<div>
    <div class="wrap-label select-level">
        <a href="javascript:void(0)" ng-click="toggleSelectMenu($event)" class="text-show-action">
            {{text}}
            <i class="fa fa-angle-down pull-right"></i>
        </a>
        <div id="select-level-modal-{{key}}-{{index}}" class="select-menu-modal off">
            <div class="js-select-menu-deferred-content">
                <div class="select-menu-filters">
                </div>
                <div id="select-level" class="select-menu-list label-select-menu">
                    <script type="text/ng-template" id="subSelect">
                        <a class="show-sub-select show-sub-select-{{value._id}}" ng-click="showSubSelect($event, value._id)" >
                            <i class="fa fa-folder" ng-if="value.subFolder.length > 0"></i>
                            <span class="name-select item-{{value._id}}" ng-click="selectedItem(value, $event)" item-data="{{valfolder_idue._id}}" ng-class="{'item-not-sub':!value.subFolder.length}">{{value.name}}</span>
                        </a>
                        <ul ng-if="value.subFolder" class="parrent-select parrent-select-{{value._id}}">
                            <li class="select-multil" ng-repeat="(key, value) in value.subFolder | orderBy:'name'" ng-include="'subSelect'"></li>
                        </ul>
                    </script>
                    <ul class="select-menu-parrent">
                        <li id="select-{{index}}" class="select-menu-item" ng-repeat="(index, value) in itemsTmp | orderBy:'name'" ng-include="'subSelect'" onload="currentIndex.value = index"></li>
                    </ul>
                </div>
            </div>
            <div class="select-menu-loading-overlay"></div>
        </div>
    </div>
</div>


