<div class="modal-content">

    <a ng-href="{{ baseUrl }}/admin/document-manager/download/{{fileId}}" type="button" class="close pull-left">
        <i class="fa fa-download"></i>
         <span class="f15">Download</span>
    </a>
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal">
        <i class="fa fa-times"></i>
    </button>
    <img class="img-responsive real-size" ng-src="{{ baseUrl }}/admin/document-manager/{{fileId}}" alt="Place">
</div><!-- /.modal-content -->
