

// width
.w-104{
	width: 104px;
}
.w-110{
	width: 110px;
}

// color

$primary-color:#90001b;
$primary-dark-color: #740016;

$yellow-status: #FFFF00;
$greens-status: #2CEA2C;
$ready-for-review-status: #85CE1D;
$grey-status: #808080;
$purple-status: #7435C5;
$dark-blue-status: #346EDE;
$red-status: #FF0030;
$orange-status: orange;

$text-back: #DE2548;
$text-back-dark: #8C041E;

$text-success: #1DAB22;
$text-success-dark: #06820A;


// fancytree icon 
$color_blue_chill_approx: #008896;
$color_silver_chalice_approx: #b1acac;
$color_cerulean_approx: #07adec;
$color_pumice_approx: #cacaca;
$color_silver_approx: #bfbfbf;



//fonts
$font_0: themify;
$font_1: FontAwesome;


// end fancytree icon


$help-color:#07adec;

// color status tiket
$new-color: #01A2A6;
$open-color: #29D9C2;
$ready-for-review-color: #85CE1D;
$approve-color: #FFFFA6;
$close-color: #F56C6C;
$answered-color: #649bd7;


// child link ticket detail
$child-link-color:#00CD00;

// bg of content
$bg-content-managerment: #f5f5f5;
// end