// .wrap-content-management.block-manager {
//     span {
//         &.fancytree-icon {
//             &.icon-folder-open-alt:before {
//                 top:-3px;
//             }
//             &.icon-folder-close-alt:before{
//                 top:-3px;
//             }
//             &.icon-file-alt:before{
//                 top:-3px;
//             }

//         }
//     }
// }
// .block-manager {
//     span {
//         &.fancytree-icon {
//             &.icon-folder-open-alt:before {
//                 top:-3px;
//             }
//             &.icon-folder-close-alt:before{
//             	top:-3px;
//             }
//             &.icon-file-alt:before{
//             	top:-3px;
//             }

//         }
//     }
// }


.block-manager .table>tbody>tr>td,
.block-manager .table>thead>tr>th{
    text-align: center!important;
    padding-left: 0px;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-l--4{
    margin-left: -4px;
}
.p-10{
    padding:10px;
}

// Edit Block

.min-h-400{
    min-height: 400px;
}

.table-manage-block{
    .parent-td1{
        min-width: 35px;
    }
    .parent-td4{
        width: 105px;
    }
    .parent-td8{
        width: 67px;
    }
}

.table-block{
    
    // child
    .child-td1{
        min-width: 35px;
        padding: 6.5px 0px;
    }
    .child-td3{
        min-width: 113px;
        padding: 6.5px 0px;
    }
    .child-td4{
        width: 130px;
        padding: 6.5px 0px;
    }
    .child-td5{
        width:99px;
        padding: 6.5px 0px;
    }
    .child-td6{
        width:98px;
        padding: 6.5px 0px;
    }
    .child-td7{
        width:158px;
        padding: 6.5px 0px;
    }
    .child-td8{
        width:116px;
        padding: 6.5px 0px;
    }
    .child-td9{
        width:67px;
        padding: 6.5px 0px;
    }
}
.show-full-width-select .wrap-label .select-menu-modal{
    width: 100%!important;
}