.box-build-template{
	.title-build{
		padding:10px 32px;
		border-bottom: 1px solid #ccc;
		color: #90001B;
	    font-size: 20px;
	    background: #E6E6E6;
	}

	.text-add-element{
		border-bottom: 1px dashed #ccc;
		width: 70%;
	}
}
