.f-13{
	font-size: 13px;
}
.f-16{
	font-size: 16px;
}
.ds-table{
	display: table;
}
.ds-table-cell{
	display: table-cell;
}
.min-full-width{
	width: 100%;
}
.step3{
	.option-and-accessories{
		height:400px;
		overflow:hidden;	
	}
}
.h365{
	height: 365px;
}
.max-w30{
	max-width: 30px;
}
.max-w80{
	max-width: 80px;
}
.max-w50{
	max-width: 50px;
}
.w130{
	width: 130px;
}
.h60{
	height: 60px;
}
.p-0-15{
	padding:0 15px;
}