.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.search-style{
	position: relative;
    background: #fff;
    box-sizing: border-box;
    // height: 48px;
    border-bottom: 1px solid transparent;
    padding: 5px;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	border:1px solid #ccc;
	input{
		border: none;
	}
	i{
		font-size: 19px;
	}
}
.wrap-search{
	background-image: url(/images/world-map.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    .search{
    	// @extend .vertical-align;
    	text-align: left !important;
    	margin-top:20px;
    	h2{
    		font-family: 'HelveticaLight', Helvetica, sans-serif;
    		font-weight: normal;
    		margin: 10px 0px;
    		color: #b00000;
    		font-size: 1.5em;
    	}
    	.note{
    		padding: 15px 5px;
    		margin: 10px 0px;
    		border-top: 1px dotted #ccc;
    	}
    }
	.input-search{
		@extend .search-style;
	}
}
.wrap-result-search{
	font-size: 12px !important;
	.box-maps{
		padding: 10px;
		.input-search{
			@extend .search-style;
		}
		#load-maps{
			background: #e3e3e3;
			padding: 10px;
			margin-top: 10px;
			border: 1px solid #ccc;
			// background-image: url(/images/map.png);
		 //    background-repeat: no-repeat;
		 //    background-position: center;
		}
	}
	.box-list-rep{
		overflow: auto !important;
		padding: 10px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02),0 2px 4px rgba(0,0,0,0.2),0 2px 4px rgba(0,0,0,0.2);
		#support{
			padding: 10px 0px;
			border-bottom: 1px dashed #ccc;
			h2{
				margin: 0 0 0 -15px;
				color: #b00000;
				font-family: 'HelveticaLight', Helvetica, sans-serif;
	    		font-weight: normal;
	    		font-size: 1.2em;
	    		img{
	    			position: absolute;
	    			margin: -5px 0 0 -10px;
	    			width: 50px;
	    			left: 20px;
	    		}
	    		a{
	    			padding: 8px 0 5px 50px;
	    			display: block;
	    			color: #b00000;
				    text-decoration: none;
				    -ms-transition: color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
				    -webkit-transition: color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
				    -moz-transition: color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
				    -o-transition: color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
				    transition: color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
	    		}
			}
			#tabs-text{
		    	padding: 0px 10px;
				margin: 10px;
		    	min-height: 70px;
		    	p{
		    		margin: 10px 0px;
		    		font-size: 1em;
		    	}
		    	h3{
		    		font-family: 'HelveticaLight', Helvetica, sans-serif;
					font-weight: normal;
					font-size: 1.17em;
		    	}
		    	#distance{
		    		color: #999;
		    	}
			}
			#learnmore{
				padding: 5px;
			}
		}
	}
}
@media only screen and (max-width: 991px){
	.wrap-result-search .box-list-rep{
		height: auto !important;
	}
	.wrap-result-search .box-maps{
		min-height: auto !important;
		height: auto !important;
	}
}
@media only screen and (max-width: 767px){
	.wrap-search .search h2{
		font-size: 1.2em;
	}
	.wrap-result-search .box-list-rep{
		height: auto !important;
	}
	.box-maps .input-search{
		position: fixed !important;
    	top: 100px;
    	left: 0px;
    	right: 0px;
    	z-index: 99;
	}
	.wrap-result-search .box-maps #load-maps,
	.wrap-result-search .box-maps .no-result{
		margin-top: 55px !important; 
	}
}
