@import "modules/css3-mixins.scss";
@import "modules/mixins-responsive.scss";

//colors
$color_primary: #90001b;
$white: #fff;
$color_blue_text: #428bca;

.term{
	margin-top: -20px;
}

.tab-menu-field.wrap-term {
	padding: 9.5px 0;
	margin-bottom: 10px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	a {
		padding: 11px;
		color: $color_primary;
		&:hover,&:focus,&:active{
			background: #efefef;
			color:#000;
			transition: all 0.3s ease 0s;
		}
		&.active {
			background: $color_primary;
			color: $white;
		}
	}
}
.roles-wrap {
	padding: 0 20px;
	.tab-content {
		padding: 0 !important;
		margin-top: 0px;
		form {
			padding: 10px !important;
		}
	}
}
.info-terms {
	padding: 10px;
	.p-terms {
		position: relative;
		span a {
			border-bottom: 1px dashed $color_blue_text;
		}
	}
	.first {
		span {
			select {
				width: 270px;
			}
			.form-control {
				display: inline !important;
			}
			.form-inline.editable-wrap.editable-text {
				padding: 0 !important;
			}
		}
		label {
			width: 100px;
		}
	}
}
// .table-terms {
// 	margin-top: 10px;
// 	table thead tr {
// 		background: $color_primary;
// 		th {
// 			color: $white !important;
// 			font-weight: 100;
// 			padding: 7px !important;
// 		}
// 	}
// }
.navbar-form .form-control {
	border-radius: 0 !important;
}

.w200{
	width: 200px;
}
.w120{
	width: 120px;
}
.w100{
	width: 100px;
}
.m-5{
	margin:5px;
}
.table#containerTable > tbody > tr > td {
	padding-left:12.5px;
}

// fix padding term index
@media only screen and (max-width:$break-medium-992 - 1){
	.roles-wrap.term{
		padding: 0 20px;
	}
}
// end